:root {
    --mainbackground: #2D3E50;
    --formbackground: #D9E9E8;
    --buttonsubmit: #1BBC9B;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--mainbackground);
}

#searchDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--formbackground);
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-top: 30%;
    border-radius: 1px;
}

h1 {
    line-height: .5em;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 3px;
}

select {
    margin: 3px;
}

#formSubmit {
    background-color: var(--buttonsubmit);
    border-radius: 3px;
    border: none;
    color: white;
    padding: 3px;
}

